@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    color: hsl(0, 0%, 100%);
    font-family: "inter";
}

body{
    background-color: hsl(0, 0%, 8%);
}

img{
    width: 90px;
    border-radius: 100px;
}

a{
    text-decoration: none;
}

.text-green{
    color:hsl(75, 94%, 57%);
}